h1{
    color:#ffffff;
    font-family:sans-serif;
    background-color:blueviolet;
}
h2{
    background-color:aquamarine;
    font-family:sans-serif;
    color: #ffffff;
}
h3{
    background-color:aquamarine;
    font-family:sans-serif;
    color: #ffffff;
}
a{
    color: #ffffff;
    text-align: center;
}
p{
    font-family: sans-serif;
    color: #210a01;
    font-weight: 650;
    text-align: center;
}
p2{
    color: white;
}
.rodape{
    background-color: blueviolet;
}
ul{
    font-family: sans-serif;
    color: #23130c;
}
body{
    background-color: rgb(252, 246, 255);
}
.container{
    position: relative;
    height: 500px;
    width: 400px;
}

.container:hover .flip{
    transform: rotateY(180deg);

}

.flip{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .5s;
}
.frente,.tras{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #1111111b;
    backface-visibility: hidden;
}

.frente{
    background-image: url(espresso.jpg);
    background-size: cover;
}

.tras{
    background-color: rgb(61, 40, 23);
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #7f3838;
    font-family: sans-serif;
}


/*cappuccino*/

.containerr{
    position: relative;
    height: 500px;
    width: 400px;
}

.containerr:hover .flipp{
    transform: rotateY(180deg);

}

.flipp{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .5s;
}

.frentee,.trass{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #1111111b;
    backface-visibility: hidden;
}

.frentee{
    background-image: url(Latte_art.jpg);
    background-size: cover;
}

.trass{
    background-color: rgb(61, 40, 23);
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #7f3838;
    font-family: sans-serif;
}

/*Macchiato*/

.containerrr{
    position: relative;
    height: 500px;
    width: 400px;
}

.containerrr:hover .flippp{
    transform: rotateY(180deg);

}

.flippp{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .5s;
}

.frenteee,.trasss{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #1111111b;
    backface-visibility: hidden;
}

.frenteee{
    background-image: url(macchiato.jpg);
    background-size: cover;
}

.trasss{
    background-color: rgb(61, 40, 23);
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #7f3838;
    font-family: sans-serif;
}

/**/
.containerrrr{
    position: relative;
    height: 500px;
    width: 400px;
}

.containerrrr:hover .flipppp{
    transform: rotateY(180deg);

}

.flipppp{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .5s;
}

.frenteeee,.trassss{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #1111111b;
    backface-visibility: hidden;
}

.frenteeee{
    background-image: url(Latte_art.jpg);
    background-size: cover;
}

.trassss{
    background-color: rgb(61, 40, 23);
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #7f3838;
    font-family: sans-serif;
}
